body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

p {
    margin-bottom: 0px;
}

.glyphicon.glyphicon-search {
    font-size: 75px;
}

.glyphicon.glyphicon-star {
    font-size: 75px;
}

.glyphicon.glyphicon-random {
    font-size: 75px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.black-box {
    width: 300px;
    background-color: #333333;
    border: 25px;
    padding: 20px;
    margin: 25px;
    margin: auto;
    width: 50%; 
    text-align: center;
    color: gainsboro;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.middle-blurb {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    background-color: palegreen;
}

.middle-blurb h3 {
    color: darkgreen;
    margin-top: 5px;
}
    
.middle-blurb-item {
    padding: 30px 0;
}

.footer-blurb {
    padding: 30px 0;
	text-align: center;
    background-color: lightskyblue;
}

.footer-blurb h3 {
    color: midnightblue;
    margin-top: 5px;
    }
    
.footer-blurb-item {
    padding: 30px 0;
    }
 
.copyright {
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}